@import "../../constants/main.scss";

.productView {
  @include pageMargin;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;

    @media only screen and (max-width: 760px) {
      flex-direction: column;
    }
  }

  &__productDetail {
    width: 72%;

    @media only screen and (max-width: 930px) {
      width: 60%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  &__productDescription {
    width: 25%;

    @media only screen and (max-width: 930px) {
      width: 35%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
    }
  }

  &__productReviews {
    margin-top: 40px;
    width: 70%;

    @media only screen and (max-width: 760px) {
      width: 100%;
    }
  }
}
