@import "../../constants/main.scss";

.paymentInfo {
  @include formLayout;

  &__container {
    & > h2 {
      position: relative;
    }

    & > h2:after {
      position: absolute;
      top: 51%;
      right: 0;
      overflow: hidden;
      width: 50%;
      height: 0.5px;
      content: "";
      background-color: $font-tertiary;

      @media only screen and (max-width: 2400px) {
        width: 30%;
      }

      @media only screen and (max-width: 325px) {
        width: 8%;
      }
    }
  }

  &__method {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 12px;
    color: gray;

    & > label:first-child {
      margin-bottom: 15px;
      font-weight: 600;
    }

    & > label:nth-child(2) {
      margin-bottom: 10px;
    }
  }

  &__failed {
    @include alertMessage;
  }

  &__goBack {
    color: $font-tertiary;
    text-align: right;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      margin-left: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $alert-success;
    }
  }
}
