@import "../../constants/main.scss";

.searchBar {
  background-color: white;
  border: 1px solid $border-primary;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  max-height: 395px;
  overflow: hidden;

  & > input {
    width: 100%;
    background: none;
    outline: none;
    height: 40px;
    padding: 10px 20px;
    border: none;

    &::placeholder {
      font-family: $montserrat;
    }
  }
}
